<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,123}}</string>
                <key>sourceSize</key>
                <string>{58,123}</string>
            </dict>
            <key>Walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{58,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,123}}</string>
                <key>sourceSize</key>
                <string>{58,123}</string>
            </dict>
            <key>Walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{58,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,123}}</string>
                <key>sourceSize</key>
                <string>{58,123}</string>
            </dict>
            <key>Walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{58,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,123}}</string>
                <key>sourceSize</key>
                <string>{58,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Walk.png</string>
            <key>size</key>
            <string>{62,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e36573f9a03d2a5ebe90571ddbe92249:fb030663f9d257883d477412887e6416:20c87050993b7f325db7de98a0289e42$</string>
            <key>textureFileName</key>
            <string>Walk.png</string>
        </dict>
    </dict>
</plist>
